@font-face {
    font-family: 'Figtree';
    src: url(https://fonts.google.com/specimen/Figtree);
}

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
}
body{
    background-color: var(--Yellow);
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}
.container{
    min-height: 100vh;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-page{
    background-color: var(--White);
    border-style: solid;
    border-width: 1px;
    border-color: var(--Black);
    border-radius: 20px;
    width: 380px;
    height: 500px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    box-shadow:  9px 9px 0px var(--Black);
}

.image{
    margin: 20px 25px 0;
    width: 330px;
    border-radius: 15px;
}

.learn-con{
    font-family: Figtree, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    margin: 20px 25px 0;
    background-color: var(--Yellow);
    border-radius: 5px;
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 8px 0 0;
    color: var(--Black);
}


.date{
    font-family: Figtree, sans-serif;
    font-size: 15px;
    font-weight: 550;
    padding: 15px 30px 0;
    color: var(--Black);
}

.h1{
    font-family: Figtree, sans-serif;
    font-size: 22px;
    font-weight: 800;
    padding: 15px 30px 0;
    color: var(--Black);
    cursor: pointer;
}

.h1:hover {
    color: var(--Yellow); 
    transition: color 0.3s; 
}
a.h1 {
    text-decoration: none; /* กำหนดให้ไม่มีเส้นใต้ */
}


.h2{
    font-family: Figtree, sans-serif;
    font-size: 16px;
    padding: 15px 30px 0;
    color: var(--Grey);
}
.previewer{
    font-family: Figtree, sans-serif;
    font-size: 16px;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    justify-content: start;
    margin-top: 20px;
}
.name-previewer{
    font-family: Figtree, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 0px 5px 0;
    margin-top: 10px;
    color: var(--Black);
}
.img-previewer{
    margin-left: 15px;
    padding: 5px 10px 0;
    width: 28px;
    border-radius: 50px;
}